<section class="section">
<div class="container">
	<div class="columns is-centered">
	  <h2 class= "title is-3">Teams</h2>
	  </div>
	  <% @teams.each do |team| %>
	  <div class= "column is-4">
	    <h3 class= "subtitle is-4"><%= team.name %></h3>
	  </div>
	  
	  <li><%= link_to 'Destroy', team, class: "button is-danger is-small", method: :delete, data: { confirm: 'Are you sure?' } %></li>
	  <hr />
	  <% end %>
	  </div>
	  
	    
	  </section>
	
	  
	  <hr />
	  

<%= link_to 'New Project', new_team_path, class: "button is-info" %>