<section class="section">
<div class="container">
	<div class="columns is-centered">
	  <h2 class= "title is-3">Projects</h2>
	  </div>
	  <% @projects.each do |project| %>
	  <div class= "column is-4">
	    <h3 class= "subtitle is-4"><%= project.name %></h3>
	  </div>
	  <p class="column is-7 offset-1"><%= project.description %></p>
	  <li><%= link_to 'Destroy', project, class: "button is-danger is-small", method: :delete, data: { confirm: 'Are you sure?' } %></li>
	  <hr />
	  <% end %>
	  </div>
	</section>
	  <hr />
	  

<%= link_to 'New Project', new_project_path, class: "button is-info" %>